<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table th, table td, form {
            padding: 10px 5px;
            font-family: sans-serif;
            font-size: 14px;
            border-style: solid;
            border-width: 1px;
            background-color: ivory;
        }
        button {
            padding: 5px;
            background: gold;
        }
    </style>
</head>
<body>
<h1>User</h1>
<table border="1">
    <tr>
        <th th:width="80">ID</th>
        <th th:width="120">Name</th>
        <th th:width="120">LastName</th>
        <th th:width="120">Profession</th>
        <th th:width="120">Salary(USD)</th>
    </tr>
    <td th:utext="${user.getId()}">UserId</td>
    <td th:utext="${user.getName()}">Name</td>
    <td th:utext="${user.getLastName()}">LastName</td>
    <td th:utext="${user.getProfession()}">Professon</td>
    <td th:utext="${user.getSalary()}">Salary</td>

</table>
<br>
<button onclick="window.location.href = '/';">Back to users</button>
</body>
</html>